
# Created by https://www.gitignore.io/api/venv,django,pycharm,virtualenv,visualstudiocode
# Edit at https://www.gitignore.io/?templates=venv,django,pycharm,virtualenv,visualstudiocode

### ohmydb ###
secret.json
.idea/
.vscode/
venv/
accounts/migrations/
photo/migrations/




### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
