
# Created by https://www.gitignore.io/api/venv,django,pycharm,virtualenv,visualstudiocode
# Edit at https://www.gitignore.io/?templates=venv,django,pycharm,virtualenv,visualstudiocode

### ohmydb ###
secret.json
.idea/
.vscode/
venv/
accounts/migrations/
photo/migrations/
crawling/migrations/
staticfiles/
facedetect/
temp_photo/
test.py



### Django ###
*.pid
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

## Celery ###
celerybeat-schedule