{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div id="main">



    {% for post in object_list %}
    <article class="thumb">
        <a href="{% url 'photo:photo_detail' pk=post.id %}" class="image"><img src="{{ post.photo_thumbnail.url }}"
                alt="" /></a>
        <h2>{{ post.title }}</h2>
    </article>
    {% endfor %}

    <div class="pagination">
        <a class="button" href="{% url 'photo:photo_list' %}{% if request.GET.members %}?members={{ request.GET.members }}{% endif %}">More Photo..</a>
    </div>

</div>

{% endblock %}